[Package]
name = "Amia"
description = "Repo for Amia"
version = "1.0"
url = "https://github.com/cltalmadge/amia.git\x0A"
author = "ZoltanTheRed <talmadge12@gmail.com>"

[Sources]
include = "src/**/*.{nss,json}"

[Rules]
"*" = "src/$ext"

[Target]
name = "default"
file = "Amia.mod"
description = "Module"

[Target]
name = "dev"
file = "AmiaDev.mod"
description = "Minimalist module"
    
    [Target.Sources]
    # SCRIPTS
    include = "src/nss/*.nss"
    # AREAS
    # Default areas needed for the module to work
    include = "src/are/vault.are.json"
    include = "src/git/vault.git.json"
    include = "src/gic/vault.gic.json"
    include = "src/are/welcometotheeete.are.json"
    include = "src/git/welcometotheeete.git.json"
    include = "src/gic/welcometotheeete.gic.json"
    include = "src/are/deityroom.are.json"
    include = "src/git/deityroom.git.json"
    include = "src/gic/deityroom.gic.json"
    include = "src/are/core_*.are.json"
    include = "src/git/core_*.git.json"
    include = "src/gic/core_*.gic.json"
    include = "src/are/wb_*.are.json"
    include = "src/git/wb_*.git.json"
    include = "src/gic/wb_*.gic.json"
    include = "src/git/afr_bramblewood2.git.json"
    include = "src/gic/afr_bramblewood2.gic.json"
    include = "src/are/afr_bramblewood2.are.json"
    include = "src/are/afr_goblincaves.are.json"
    include = "src/gic/afr_goblincaves.gic.json"
    include = "src/git/afr_goblincaves.git.json"


    # All other areas

    # OTHERS
    include = "src/0/*.{nss,json}"
    include = "src/dlg/*.{nss,json}"
    include = "src/fac/*.{nss,json}"
    include = "src/ifo/*.{nss,json}"
    include = "src/itp/*.{nss,json}"
    include = "src/jrl/*.{nss,json}"
    include = "src/ndb/*.{nss,json}"
    include = "src/utc/*.{nss,json}"
    include = "src/utd/*.{nss,json}"
    include = "src/ute/*.{nss,json}"
    include = "src/uti/*.{nss,json}"
    include = "src/utm/*.{nss,json}"
    include = "src/utp/*.{nss,json}"
    include = "src/uts/*.{nss,json}"
    include = "src/utt/*.{nss,json}"
    include = "src/utw/*.{nss,json}"







